<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="sidebar round">
  <strong>Name</strong> <%= @user.name %><br />
</div>
<h2>
<%= @user.name %> has <%= pluralize(@user.tours.size, 'tour') %>
</h2>
<% unless @user.tours.empty? %>
  <ul>
    <%= render @tours %>
  </ul>
<% end %>
<br class="spacer" />
