<%= form_for([@tour, @rating]) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'ratings/form_fields', :f => f %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <%= render 'tours/tour_detail', :tour => @rating.tour %>

<% end %>
