<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @rating.user_id %>
</p>

<p>
  <b>Tour:</b>
  <%= @rating.tour_id %>
</p>

<p>
  <b>Score:</b>
  <%= @rating.score %>
</p>

<p>
  <b>Comment:</b>
  <%= @rating.comment %>
</p>


<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
