<% form_class ||= nil %>
<%= form_for(@tour, :html => {:class => form_class}) do |f| %>
  <% if @tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

      <ul>
        <% @tour.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= render 'tours/form_fields', :f => f , :form_class => form_class %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
