<% map_size ||= nil %>
<li class="tour">
  <a href="<%= tour_path(tour) %>">
    <div class="tour_contents">
      <%= staticDirectionsMap(tour, map_size) %><br class="spacer"/>
      <h3><%= tour.name %></h2>
      <h3><span style="font-size:0.7em">
        <% unless tour.ratings_score.nil? %>
          <%= pluralize(tour.ratings_score_formatted, "star") %>
        <% end %>
      </span></h3>
      <p><%= truncate(tour.desc, :length => 170, :separator => ' ') %></p>
    </div>
    <div class="tour_specifics">
      <% @duration_info = duration(tour) %>
      <span class="number"><%= @duration_info[0] %></span>
      <span class="unit"><%= @duration_info[1] %></span> | $<%= tour.cost %>
    </div>
  </a>
</li>
