<h1><%= tour.name %>
  <span style="font-size:0.5em">
  <% unless tour.ratings_score.nil? %>
    <%= pluralize(tour.ratings_score_formatted, "star") %>
  <% end %>
  <% if current_user == @tour.user %>
    <%= link_to 'Edit', edit_tour_path(@tour) %>
  <% end %>
  </span>
</h1>

<p style="float:right;width:300px;height:300px;border:solid 1px #fff; margin:10px;padding:8px;">TODO: Map here</p>
<p>
  <%= tour.desc %>
</p>
<% unless tour.stops.empty? %>
<ul>
  <%= render tour.stops %>
</ul>
<% end %>
