<li class="tour">
  <%= staticDirectionsMap(tour) %>
  <div class="details">
    <a href="<%= tour_path(tour) %>">
    
    <h1><%= tour.name %></h1>

    <div class="fact dur">
      <% @duration_info = duration(tour) %>
      <span class="number"><%= @duration_info[0] %></span>
      <br>
      <span class="unit"><%= @duration_info[1] %></span>
    </div>
    <div class="fact cost">
      <span class="number">$<%= tour.cost %></span>
      <br>
      <span class="unit">USD</span>
    </div>

    <div class="fact spots">
      <span class="number"><%= tour.stops.count %></span>
      <br>
      <span class="unit">STOPS</span>
    </div>
    <div class="fact rating">
      <span class="number"><%= tour.ratings_score_formatted %></span>
      <br>
      <span class="unit">STARS</span>
    </div>
    <a href="/tours/<%= tour.id %>">
  </div>
 </li>
<br class="spacer" />
