<h1><%= tour.name %>
  <span style="font-size:0.5em">
  <% unless tour.ratings_score.nil? %>
    <%= pluralize(tour.ratings_score_formatted, "star") %>
  <% end %>
  <% if current_user == @tour.user %>
    <%= link_to 'Edit', edit_tour_path(@tour) %>
  <% end %>
  </span>
</h1>
<p>
  <%= tour.desc %>
</p>
<% unless tour.stops.empty? %>
<ul class="stops">
  <%= render tour.stops %>
</ul>
<% end %>
<div class="map"></div>
<br class="spacer" />

