<div id="tourDetails">
  <p id="notice"><%= notice %></p>
  <%= render 'shared/share_buttons' %>
  <%= render 'tours/tour_detail', :tour => @tour %>

  <br class="spacer" />
  <section id="ratings">
    <%= render 'ratings/existing_and_new', :tour => @tour %>
  </section>

</div>
<br class="spacer" />


<script type="text/javascript">
    //Grab the tour data...there is definitely an easy way to do this, I just don't know rails well enough
    var id = <%= @tour.id %>;
    var data = <%= @tour.to_json.to_s.html_safe %>;
    loadMap($("div.map").get(0),{}, data.stops);
</script>

