<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tour.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @tour.desc %>
</p>

<% unless @tour.stops.empty? %>
<ul>
  <%= render @stops %>
</ul>
<% end %>

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
