<div id="tourDetails">
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tour.name %>
</p>

<p>
  <b>Desc:</b>
  <%= @tour.desc %>
</p>

<% unless @tour.stops.empty? %>
<ul class="stops">
  <%= render @stops %>
</ul>
<% end %>
<div class="map"></div>
<br style="clear:both" />

<%= link_to 'Edit', edit_tour_path(@tour) %> |
<%= link_to 'Back', tours_path %>
</div>

<script type="text/javascript">
    //Grab the tour data...there is definitely an easy way to do this, I just don't know rails well enough
    var id = <%= @tour.id %>;
    $.ajax({
      type: 'GET',
      url: "/tours/"+id+".json",
      success: function (t) { loadMap($("div.map").get(0),{}, t.stops)},
      error: function () {}
    });
    
</script>