<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>


    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:700' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" %>
    <%= javascript_include_tag "jq1.6.4" %>
    <%= javascript_include_tag "jqui1.8.16" %>
    <%= javascript_include_tag "gGears" %>
    <%= javascript_include_tag "mapInit" %>

<%# Mobile specific javaScript%>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26196247-1']);
    _gaq.push(['_setDomainName', '.tourioushq.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body> 

<!-- Start of first page -->
<div data-role="page" id="main" data-theme="a">
<div id="logo"><a href="/">TOURIOUS<div id="subLogo">Seattle<br /> Edition</a></div></div>
    <div data-role="header"></div>
    
    <div data-role="content">   
        <p>Welcome Back!</p>      
        <h1>Tours:</h1>
        <ul style="list-style:none">
            <li><a href="#tour" data-role="button" data-theme="b" data-transition="pop">Tour One</a></li>
            <li><a href="#tour" data-role="button" data-theme="b" data-transition="pop">Tour Two</a></li>
        </ul>
    </div>

    <div data-role="footer">
        <h4>Tourious Mobile</h4>
    </div>
</div><!-- /page -->

<!-- Start of second page -->
<div data-role="page" id="tour">
    <div data-role="header">
        <h1>Tour!</h1>
    </div><!-- /header -->

    <div data-role="content">   
       Here is your tour:....well...not yet
       <div id="map" style="width:300px;height:300px;margin:0 auto"></div>
    </div><!-- /content -->

    <div data-role="footer">
        <h4>Tourious Mobile | <a href="#home" data-transition="pop">Home</a></h4>
    </div><!-- /footer -->
</div><!-- /page -->
</body>

</html>
<script type="text/javascript">
 var map = new Tourious.map($("#map").get(0));
</script>