<% form_class ||= nil %>
<div class="field <%= form_class %>">
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</div>
<div class="field <%= form_class %>">
  <%= f.label :lat %><br />
  <%= f.text_field :lat %>
</div>
<div class="field <%= form_class %>">
  <%= f.label :long %><br />
  <%= f.text_field :long %>
</div>
