<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js" %>
    <![endif]-->
    
    <link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" %>
    <%= javascript_include_tag "jq1.6.4" %>
    <%= javascript_include_tag "jqui1.8.16" %>
    <%= javascript_include_tag "gGears" %>
    <%= javascript_include_tag "mapInit" %>
    
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26196247-1']);
    _gaq.push(['_setDomainName', '.tourioushq.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
    <div id="stripe" style="width:100%;height:10px;background:#da511c"></div>
    <div id="container">
        <%= render 'layouts/header' %>
        <div class="content">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash_#{key}") %>
          <% end %>
          <%= yield %>
        </div>
    </div>
    
    

<div style="text-align:left;position:absolute;bottom:0">
<%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
